[submodule "static/locales"]
	path = static/locales
	url = https://git.schloosser.net/aufgabenbuch/oberflaeche-texte.git
[submodule "src-tauri/icons"]
	path = src-tauri/icons
	url = https://git.schloosser.net/aufgabenbuch/logo.git
