.aufgabe {
	opacity: 0.7;
	&:hover {
		opacity: 0.9;
	}
	&.gewaehlt {
		opacity: 1;
	}
	margin: 0.2rem;
	display: flex;

	> .satz {
		padding: 0 0.6rem;
		> div {
			display: inline-block;
			padding: 0.2rem;
		}
		> .id {
			color: blue;
		}
		> .kommentar {
			color: rgb(6, 6, 100);
		}
		> .beschreibung {
			display: inline;
		}
		> div > .erledigt {
			border-radius: .5rem;

			display: flex;

			font-size: .8rem;
			font-weight: 600;

			background-color: darkslateblue;
			color: white;
			> .datum, >.status {
				padding: .25rem .5rem;
			}
			> .wand {
				width: 2px;
				height: 2rem;
				background-color: white;
			}
		}
		> .extra {
			display: inline-block;
			flex-direction: column;
			> div {
				display: inline;
				margin: 0px;
				padding: .2em;
				width: .7em;
				height: .7em;
				overflow: hidden;
			}
			> .notiz {
				color: #014421;
			}
			> .link {
				color: blue;
			}
		}
	}

	// display: flex;
	// flex-wrap: wrap;
	// gap: .5rem;
	> .beschreibung {
		flex: 1;
	}
	&.erledigt {
		.beschreibung {
			text-decoration: line-through;
		}
	}
	> .dev {
		flex: 1;
		display: flex;
		font-size: 0.9em;
		flex-wrap: wrap;
	}
	// box-shadow: 0px 0px 1px black;
	// padding: .4rem;
	// background-color: #ddd;
	&:hover {
		// background-color: #eee;
		cursor: pointer;
	}
}
